@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --foreground: oklch(11.111% 0.1111 111.11);
}

.dark {
  --foreground: oklch(92.35% 0.03291 213.515);
}

@theme inline {
  --color-foreground: var(--foreground);

  --animate-slightly-rotated: slightly-rotated 800ms cubic-bezier(0.2, 0.2, 0.8, 0.8) infinite;

  @keyframes slightly-rotated {
    0%,
    50%,
    100% {
      transform: rotate(0deg) scale(1);
    }
    25% {
      transform: rotate(4deg) scale(1.15);
    }
    75% {
      transform: rotate(-4deg) scale(1.15);
    }
  }
}

@layer base {
  html {
    scrollbar-gutter: stable;
  }
  ::-webkit-scrollbar {
    width: 0.6rem;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background-color: rgba(120, 120, 120, 0.3);
    border-radius: 4px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background-color: rgba(120, 120, 120, 0.5);
  }
}
